#kenya{
    background-color: cornflowerblue;
    color: cornsilk;
    padding: 17px;
    border: 1px solid burlywood;
    text-align: center;
    margin: 20px;

}
#somalia{
    background-color: cornflowerblue;
    color: cornsilk;
    padding: 17px;
    border: 1px solid burlywood;
    text-align: center;
    margin: 20px;
}
#tanzania{
    background-color: aliceblue;
    color: black;
    padding: 17px;
    border: 1px solid burlywood;
    text-align: center;
    margin: 20px;
}